<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">

        <label>Username</label>
        <input type="text" id="username">

        <label>First name</label>
        <input type="text" id="first_name">

        <label>Last name</label>
        <input type="text" id="last_name">

        <label>Password</label>
        <input type="text" id="password">

        <label>Repeat password</label>
        <input type="text" id="password2">

    <input type="submit" value="Register">
</form>
<div>
    <a href="/login/"><button>Login</button></a>
</div>
</body>
</html>